div.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
}

.panel {
    background-color: papayawhip;
    font-family: sans-serif;
    font-size: 24px;
    margin: 8px;
    padding: 16px;
    width: 100px;
}

header {
    font-family: 'Halant';
    font-weight: 600;
    font-size: 200px;
    line-height: 0.8;
    margin: 30px;
    color: RGB(209, 202, 194);
}

.image {
    margin: 10px;
    padding: 1px;
    width:  75%;
}

body {
    background-color: rgb(29, 29, 29);
    margin-left: 200px;
    margin-right: 200px;
}

article {
    margin: 20px;
    background-color: rgb(223, 162, 111);
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-family: 'Halant';
    font-size: 80px;
    background-color: RGB(89, 107, 95);
    text-align: center;
    margin: 0px;
    font-weight: 600;
    border: 7px solid RGB(93, 107, 95);
    border-radius: 20px;
    color: RGB(209, 202, 194);
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}

.photos {
    border-radius: 20px;
    border: 20px solid RGB(89, 107, 95);
    height: auto;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 100%;
    height: inherit;
}

p.caption {
    margin: 0px auto 0px auto;
    padding: 0px;
}

footer {
    color: RGB(209, 202, 194);
    margin: 30px;
    font-family: 'Nunito Sans';
    padding: 10px;
}